{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 0,
    "func-names": 0,
    "prefer-default-export": 0,
    "no-useless-escape": 0
  }
}
